@import "normalize.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #f6f5ef; /* Колір тексту */
  --dark-blue: #11131f; /* Колір фону та колір тексту*/
  --dark-blue-2: #1f212d; /* фон картки */
  --prime-dark: #93abae;
  --prime-phrase: #a1b5ba;
}

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--dark-blue, #11131f);
  color: var(--white, #f6f5ef);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}
.container {
  width: 100%;
  max-width: 1280px; /* 1440px */
  margin: 0 auto;
}
.footer {
  padding: 0px 20px 14px 20px;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .footer {
    padding: 0px 32px 14px 20px;
  }
}

.hero-bg-img {
  background: linear-gradient(
      359deg,
      rgba(17, 19, 31, 0.9) 42.62%,
      rgba(17, 19, 31, 0.31) 84.12%,
      rgba(17, 19, 31, 0) 100%
    ),
    url(images/hero-card/Image.webp) lightgray -363.632px -322.699px / 294.966%
      170.401% no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -80px;
}
@media (min-width: 768px) {
  .hero-bg-img {
    margin-top: -100px;
  }
}

.hero-container {
  padding: 260px 20px 240px;
  margin: 0;
}
@media (min-width: 768px) {
  .hero-container {
    padding: 280px 32px 180px;
  }
}

.custom-container {
  padding: 80px 20px 0px;
}
@media (min-width: 768px) {
  .custom-container {
    padding: 100px 32px 0px;
  }
}
@media (min-width: 1280px) {
  .custom-container {
    padding: 164px 32px 0px;
  }
}

.about-container {
  padding: 0px 20px 0px;
  margin-top: -40px;
}
@media (min-width: 768px) {
  .about-container {
    padding: 0px 32px 0px;
  }
}
@media (min-width: 1280px) {
  .about-container {
    padding: 0px 32px 0px;
  }
}
.list-container {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .list-container {
    padding: 0px 32px 0px;
  }
}
.image-container {
  position: relative;
  display: inline-block;
}

.image-container::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #11131f 100%);
}

/* Grid */

.about-wrap {
  display: flex;
  gap: 24px;
  justify-content: flex-end;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .about-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .about-box1 {
    grid-column-start: 1;
    grid-column-end: 5;

    grid-row-start: 1;
    grid-row-end: 3;
  }
  .about-box2 {
    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 3;
    grid-row-end: 5;
  }
  .about-box3 {
    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 4;
    grid-row-end: 6;
  }
}
@media (min-width: 1024px) {
  .about-wrap {
    grid-template-columns: repeat(4, 1fr);
  }
  .about-box1 {
    grid-column-start: 2;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 2;
  }
  .about-box2 {
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: -250px;
  }
  .about-box3 {
    grid-column-start: 2;
    grid-column-end: 4;

    grid-row-start: 2;
    grid-row-end: 5;
  }
}

.activ-wrap {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .activ-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .activ-box1 {
    grid-column-start: 1;

    grid-column-end: 5;
  }
  .activ-box2 {
    grid-column-start: 3;
    grid-column-end: 5;
    margin-left: -60px;
  }
  .activ-box3 {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
@media (min-width: 1280px) {
  .activ-wrap {
    grid-template-columns: repeat(4, 1fr);
  }
  .activ-box1 {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-right: -116px;
  }
  .activ-box2 {
    grid-column-start: 4;
    margin-left: -154px;
  }
  .activ-box3 {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

/* Swiper */

.swiper-pagination {
  position: static;
}
.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background: var(--dark-blue-2);
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: var(--prime-dark);
}
.swiper-button-disabled {
  border-color: gray;
  color: gray;
}
